<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="rutaAlumnosJson" value="C:\ArchivosSysacad\Alumnos.json"/>
		<add key="rutaAdminJson" value="C:\ArchivosSysacad\Admin.json"/>
		<add key="rutaCursos" value="C:\ArchivosSysacad\Cursos.json"/>
	</appSettings>
</configuration>